body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Arial, sans-serif;
}

#result{
  width:220px;
  height:40px;
  font-size:18px;
  text-align:right;
  margin-bottom:10px;
}
